<a href="https://colab.research.google.com/github/EmilyRousou/DSC511-Introduction/blob/main/Copy_of_DSC_511_Project_Combined1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## DSC 511 Group Project

In [ ]:
# Installing pyspark
! pip3 install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.5)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

In [ ]:
# Importing Libraries
import matplotlib.pyplot as plt
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
import seaborn as sns
from google.colab import drive
from pyspark.sql.functions import lower, regexp_replace
from pyspark.sql.window import Window
from pyspark.sql.functions import row_number
from pyspark.ml.clustering import LDA
from pyspark.ml.feature import CountVectorizer
from pyspark.ml import Pipeline
from pyspark.ml.feature import IDF
from pyspark.sql.functions import expr
from pyspark.ml.linalg import Vectors, DenseVector
from pyspark.sql.functions import udf
from pyspark.sql.types import ArrayType, DoubleType
from pyspark.sql.functions import avg, count, col

In [ ]:
spark = SparkSession.builder \
    .appName("Group_Project_Reviews_Covid") \
    .master("local") \
    .getOrCreate()

### Loading the datasets

In [ ]:
# Google drive and reading the csv of post dataset
drive.mount('/content/gdrive')
google_drive_path = "/content/gdrive/MyDrive/postcovid_reviews.csv"

Mounted at /content/gdrive

In [ ]:
# Google drive and reading the csv of pre dataset
drive.mount('/content/gdrive')
google_drive = "/content/gdrive/MyDrive/precovid_reviews.csv"

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [21]:
post_df = spark.read.options(header='True', inferSchema='True', delimiter=',',multiline = True, escape = '"').csv(google_drive_path)
post_df.write.mode('overwrite').parquet('/tmp/my_data_parquet')
post_df = spark.read.parquet('/tmp/my_data_parquet')

In [22]:
post_df.show(10)

+--------------------+--------------------+--------------------+------+------------+-----------+-------------+--------------+-----+------------+-------+--------------------+--------------------+--------------------+--------------------+--------------+------+-----+----+--------------------+-------------------+
|         business_id|                name|             address|state_|        city|postal_code|     latitude|     longitude|stars|review_count|is_open|          categories|               hours|           review_id|             user_id|customer_stars|useful|funny|cool|               text_|              date_|
+--------------------+--------------------+--------------------+------+------------+-----------+-------------+--------------+-----+------------+-------+--------------------+--------------------+--------------------+--------------------+--------------+------+-----+----+--------------------+-------------------+
|2WRCcQATOe_Em0k61...|Yook Korean Grill...| 2408 Nanaimo Street|    BC|   Vancouver|    V5N 5E4|   49.2627316|  -123.0563706|  4.0|          74|      1|Restaurants, Barb...|{'Monday': '0:0-0...|t2I2CLHd7MpULwwqj...|iBRhL3g62aQzZ7nrJ...|             1|     0|    0|   0|Decent food horri...|2020-02-15 21:09:17|
|oug5bLTWP_YTtj1C3...|Gourdough's Publi...|   2700 S Lamar Blvd|    TX|      Austin|      78704|    30.245382|    -97.780437|  4.0|        1534|      1|Karaoke, Pubs, Co...|{'Monday': '0:0-0...|gcJK-cQHFrrP1wnRU...|qcpg7m7V-5XgHZzdk...|             4|     1|    0|   0|I've been wanting...|2020-09-30 01:17:12|
|imUlMANF0tNDxWOXd...|Donut Express & C...|         258 Main St|    MA|    Medfield|      02052|   42.1937214|   -71.2902513|  5.0|          42|      1|Food, Bakeries, C...|{'Monday': '5:0-1...|wvtTSr4GGGnNhfnj7...|os_bbAergdkI_OiYy...|             2|     0|    0|   0|The last custom c...|2020-12-24 18:11:13|
|mP1EdIafQKMuOm9O4...|Barcelona Wine Ba...|      525 Tremont St|    MA|      Boston|      02116|42.3449355148|-71.0705436362|  4.5|        1097|      1|Spanish, Bars, Ta...|{'Monday': '12:0-...|twUhcgH6ODfMv7ZXE...|clEAaBNgrnS7PofAo...|             4|     1|    0|   0|I came here with ...|2020-02-19 00:23:46|
|4UjU7F_EX3lgUtkzN...|       Shan-A-Punjab|      500 Harvard St|    MA|   Brookline|      02446|   42.3480171|   -71.1295567|  4.0|         426|      1|Nightlife, Indian...|{'Monday': '11:30...|vPFrlWYmxdUxjXS2J...|evqTtztHLyPSy3n0K...|             1|     1|    0|   1|Ate the lunch buf...|2020-01-30 23:23:16|
|pKvT7mixZLS3bJoxz...|Virgils Gullah Ki...|        3721 Main St|    GA|College Park|      30337|   33.6537153|   -84.4498588|  4.0|         252|      1|Soul Food, Cockta...|{'Monday': '0:0-0...|rJ0cbBwdXC-U0Uqzb...|yG8mWsUimmev85Wm8...|             1|     6|    0|   0|Very very disappo...|2020-01-12 19:04:34|
|v1UzkU8lEWdjxq8by...|Gus's World Famou...|117 San Jacinto Blvd|    TX|      Austin|      78701|   30.2634862|   -97.7417305|  4.5|        2490|      1|Soul Food, Southe...|{'Monday': '0:0-0...|dJXzdV468I1polIJq...|4ghiDthctrGfcrrZK...|             4|     0|    0|   0|One of my partner...|2020-08-15 22:18:27|
|VaZPHQuklOlvZcj0H...|       Norwood Spice|   655 Washington St|    MA|     Norwood|      02062|    42.193486|    -71.201524|  4.5|          19|      1|Restaurants, Indi...|{'Monday': '11:30...|bObYlm3T4m3ld7xNS...|mcWU_qk2tGJcRBWf8...|             5|     0|    0|   0|The delivery was ...|2020-12-19 12:48:54|
|J8Ha6yIvGoU-E31jn...|        Barley Swine|6555 Burnet Rd, S...|    TX|      Austin|      78757|30.3412737662|-97.7383886364|  4.5|        1086|      1|Restaurants, Nigh...|{'Monday': '0:0-0...|cdz56-rOcu_8JgJ2C...|lVgyib2kpWzBRlJJF...|             5|     1|    0|   1|Always amazing se...|2020-07-31 16:08:38|
|7YwbfZF4j8yNSAJ0a...|          Sake House|    1619 Rinehart Rd|    FL|     Sanford|      32771|  28.80272983|  -81.33059267|  4.0|          23|      1|Japanese, Sushi B...|{'Monday': '11:0-...|RBDwSPatoYoulP3ri...|oifjZ-v9WL9LZi0oP...|             5|     2|    0|   1|Loved this hidden...|2020-09-07 17:54:02|
+--------------------+--------------------+--------------------+------+------------+-----------+-------------+--------------+-----+------------+-------+--------------------+--------------------+--------------------+--------------------+--------------+------+-----+----+--------------------+-------------------+
only showing top 10 rows

In [14]:
pre_df = spark.read.options(header='True', inferSchema='True', delimiter=',',multiline = True, escape = '"').csv(google_drive)
pre_df.write.mode('overwrite').parquet('/tmp/my_data_parquet')
pre_df = spark.read.parquet('/tmp/my_data_parquet')

### Data Preprocessing

Checking for missing values

In [15]:
# check for missing values
pre_df = pre_df.replace("NULL", None)
pre_df.select([sum(col(c).isNull().cast("int")).alias(c) for c in pre_df.columns]).show()

+-----------+----+-------+------+----+-----------+--------+---------+-----+------------+-------+----------+------+---------+-------+--------------+------+-----+----+-----+-----+
|business_id|name|address|state_|city|postal_code|latitude|longitude|stars|review_count|is_open|categories| hours|review_id|user_id|customer_stars|useful|funny|cool|text_|date_|
+-----------+----+-------+------+----+-----------+--------+---------+-----+------------+-------+----------+------+---------+-------+--------------+------+-----+----+-----+-----+
|          0|   0|  13409|     0|   0|        384|       0|        0|    0|           0|      0|         0|216501|        0|      0|             0|     0|    0|   0|    1|    0|
+-----------+----+-------+------+----+-----------+--------+---------+-----+------------+-------+----------+------+---------+-------+--------------+------+-----+----+-----+-----+

In [23]:
# check for missing values
post_df = post_df.replace("NULL", None)
post_df.select([sum(col(c).isNull().cast("int")).alias(c) for c in post_df.columns]).show()

+-----------+----+-------+------+----+-----------+--------+---------+-----+------------+-------+----------+-----+---------+-------+--------------+------+-----+----+-----+-----+
|business_id|name|address|state_|city|postal_code|latitude|longitude|stars|review_count|is_open|categories|hours|review_id|user_id|customer_stars|useful|funny|cool|text_|date_|
+-----------+----+-------+------+----+-----------+--------+---------+-----+------------+-------+----------+-----+---------+-------+--------------+------+-----+----+-----+-----+
|          0|   0|    992|     0|   0|          4|       0|        0|    0|           0|      0|         0|12232|        0|      0|             0|     0|    0|   0|    0|    0|
+-----------+----+-------+------+----+-----------+--------+---------+-----+------------+-------+----------+-----+---------+-------+--------------+------+-----+----+-----+-----+

Both datasets have some missing values in address,hours and postal code columns.
Since we will mostly focus on the reviews we decided to not drop them.
Only the one missing review was removed.

In [24]:
pre_df = pre_df.dropna(subset=["text_"])